::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #525252;
}

::-webkit-scrollbar-thumb {
  background: #252525;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
